*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(105deg, rgba(84, 142, 230, 0.919) 55%, #baa0ac 50%);;
}
h1{
    font-family: 'Sansita Swashed', cursive;
    font-size: 3rem;
    padding: 2% 5%;
    text-align: center;
}
h1 span{
    font-family: 'Creepster', cursive;
    font-style: italic;
    font-weight: 100;
    color: rgb(109, 235, 59);
}
p{
    font-family: 'Alice', serif;
    font-size: large;
    padding: 1.3% 5%;
    width: 75%;
    margin-left: 10%
}
p:nth-child(4){
    text-align: center;
    padding: 5%;
    font-size: x-large;
}
p span{
    font-family: 'Poppins', sans-serif;
    color: gold;
    font-size: large;
    font-weight: bold ;
    font-style: italic;
}
form{
    font-size: large;
    padding: 1%;
    text-align: center;
}
input, select{
    padding: 0.6%;
    font-size: large;
}
select{
    text-align: center;
}
footer{
    display: flex;
    padding: 1rem 25rem;
    background-color: #FFFFFF;
}
footer h2{
    padding: 0rem 2rem;
}

